* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.support p {
    font-size: 1vw;
}

.homepage {
    background: url(./task-files/banner1.jpg);

    width: 100%;
    height: auto;
    background-position: center;
    background-size: cover;
}


.homepage .row {
    height: auto;
    background-color: rgba(37, 37, 37, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.homepage .form {
    width: 35vw;
}

.fa-star {
    color: rgb(243, 243, 39);
}

.video {
    background: url(./task-files/video.jpg);

    width: 80%;
    height: 60vh;
    background-position: center;
    background-size: cover;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    margin-left: 10%;
    border-radius: 20px;
}

.service1 {
    background: url(./task-files/service-img1.jpg);
    height: auto;
}

.service2 {
    background: url(./task-files/service-img2.jpg);
    height: auto;

}

.service3 {
    background: url(./task-files/service-img3.jpg);
    height: auto;

}

.line {
    width: 55px;
    height: 5px;
    background-color: rgb(255, 60, 0);
    margin-top: 140px;

}

.cards-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    margin: 0.5em;
}

.image-wrapper {
    height: 12vw;
    margin: 0 auto;
}

.image-wrapper img {
    width: 100%;
    height: 100%;
}


#reviews .card {
    height: auto;
    width: 20vw;
    margin: 0 1em;
    border: none;
    border-radius: 0;
}

#reviews .carousel-inner {
    padding: 1em;
}

#reviews .carousel-control-prev {
    margin-left: 10vw;
}

#reviews .carousel-control-next {
    margin-right: 10vw;
}

#reviews .carousel-control-prev,
#reviews .carousel-control-next {
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
    top: 25%;
    transform: translateY(-50%);

}


.newsletter {
    padding: 70px 0;
    background: #d6d6d6;
}

.newsletter .content {
    max-width: 650px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    z-index: 2;
}

.newsletter .content h2 {
    color: #000000;
    margin-bottom: 30px;
}

.newsletter .content .form-control {
    height: 50px;
    border-color: #ffffff;
    border-radius: 0;
}

.newsletter .content.form-control:focus {
    box-shadow: none;
    border: 2px solid #000000;
}

.newsletter .content .btn {
    min-height: 50px;
    border-radius: 0;
    background: #000000;
    color: #fff;
    font-weight: 600;
}

footer {
    width: 100%;
    height: auto;
    padding-top: 50px;
    background-color: #000000;
    color: white;
    line-height: 2;
}

footer li {
    list-style: none;
}

@media (max-width: 1167px) {
    .callus {
        display: none;
    }

    .homepage .form {
        width: 40vw;
    }
}

@media (max-width: 768px) {
    .header2 {
        display: none;
    }

    .callus {
        display: none;
    }

    .homepage .form {
        width: 65vw;
        text-align: center;
    }

    .welcome {
        display: none;
    }
}